body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

/* vanta globe */
#vanta-canvas {
  width: 100%;
  height: 100vh;
}

/* logo */
.logo_img {
  width: 70%;
  height: 100%;
  opacity: 0.89;
}

.vector {
  padding-right: 0;
}

label {
  display: flex;
  flex-direction: column;
  width: 44px;
  cursor: pointer;
  float: right;
  padding-top: 21px;
  margin-right: 20px;
}

label span {
  background: #fff;
  border-radius: 5px;
  height: 5px;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 70%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:hover ~ span:nth-of-type(1) {
  width: 70%;
}

input[type="checkbox"]:hover ~ span:nth-of-type(2) {
  width: 50%;
}

input[type="checkbox"]:hover ~ span:nth-of-type(3) {
  width: 100%;
}

/* Menu */
.menu_text {
  width: 115px;
  height: 48px;
  float: right;
  font-size: 38px;
  line-height: 72px;
}

.menu_text a {
  color: #fff;
  text-decoration: none;
}

.top {
  margin: 0;
  padding: 0;
  top: 110px;
}

/* We are BOTX */
.botx_header {
  font-size: 96px;
  width: 60%;
  color: #ffffff;
  text-align: center;
  padding: 0;
  left: 100px;
}

.span {
  color: #008ecb;
}

.botx_text {
  font-size: 24px;
  font-weight: 500;
  left: 100px;
  width: 60%;
  text-align: justify;
  padding: 0 50px 0 55px;
  line-height: 40px;
  color: #ffffff;
}

.botx_text p{
  margin-bottom: 0;
}

/* Sidebar */
.sidebar {
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: center;
}

.sidebar a {
  color: #000000;
}

.sidebar.notActive {
  right: -500px;
}

.sidebar.active {
  right: 0px;
}

.menu-elements {
  margin: 48% 0 23%;
  font-size: 30px;
  line-height: 45px;
  width: 100%;
}

.menu-elements li {
  width: 100%;
}

.menu-elements li:hover {
  font-size: 35px;
  background-color: #DCDCDC;
  text-decoration: none;
}

.contacts {
  line-height: 25px;
  margin-bottom: 12%;
}

.newsletter {
  margin-bottom: 6%;
  font-size: 15px;
  height: 26px;
}

.newsletter:hover {
  font-size: 17px;
  background-color: #DCDCDC;
  text-decoration: none;
}

.content {
    width: 100%;
    transition: all 0.3s;
}

.dismiss {
  width: 100px;
  height: 50px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.dismiss a:hover,
.dismiss a:focus {
    text-decoration: none;
}

.socialMedia {
  margin-bottom: 3%;
}

.socialMedia i {
  color: #686868;
  width: 50px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
}

.socialMedia i:hover {
  font-size: 35px;
  vertical-align: middle;
}

.socialMedia img:hover {
  transform: scale(1.5);
  vertical-align: middle;
}

.fa, .fab, .fad, .fal, .far, .fas{
  line-height: 0;
}

.privacyTerms {
  display: inline-flex;
  font-size: 14px;
  margin-bottom: 6%;
}

.privacyTerms a:hover {
  text-decoration: underline;
}

.closeImg {
  transform: scale(0.62);
}

.contacts img {
  transform: scale(0.8);
}
